/* src/components/Card.css */
.card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 350px;
    margin: 16px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    
}

.card-image {
    width: 100%;
    height: auto;
}

.card-info {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #f9f9f9;

}

.card-brand {
    font-size: 1.2em;
    margin: 0;
}

.card-model {
    font-size: 1em;
    color: #555;
    margin: 0;
}

.card-details {
    padding: 16px;
    background-color: #fff;
}

.card-description {
    margin: 0 0 8px 0;
    color: #333;
}

.card-year {
    font-size: 0.9em;
    color: #888;
}
.card-list {
  
    display: flex; /* Usando Flexbox para o conteúdo do card */
    align-items: center; 
}

.atualizar {
    margin-top: 30px;
    width: 100%;
    padding: 18px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .atualizar:hover {
    background-color: darkred;
  }