.container {
  margin-top: 5rem;
}

.sectionContent {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.buttonGroup {
  display: flex;
  justify-content: center;
}

.button {
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: transparent;
  transition: border-color 0.3s, color 0.3s, transform 0.2s;
}

.showPurchase {
  border-color: red;
  color: white;
  background-color: red;
  box-shadow: inset;
}

.editProfile {
  border-color: red;
  color: white;
  background-color: red;
  box-shadow: inset;
}

.showSales {
  border-color: red;
  color: white;
  background-color: red;
  box-shadow: inset;
}

.button:hover {
  color: white;
  transform: scale(1.05);
}

.button:focus {
  outline: 2px solid red;
  outline-offset: 2px;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 600px;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
}

.content h2 {
  color: #333;
  font-weight: bold;
}

.content input {
  border-radius: 9px 9px 0px 0px;
  width: 100%;
  padding: 5px 0;
  margin-bottom: 1vh;
  border: none;
  border-bottom: 2px solid #525252;
  font-size: 18px;
}

.showPassword {
  margin-top: 15px;
}

.loginButton {
  margin-top: 30px;
  width: 100%;
  padding: 18px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: darkred;
}

.sales,
.purchases {
  text-align: center;
}

.carros {
  margin: 20px 0;
}

.text {
  text-align: center;
  font-size: 1.5rem;
}

@media (min-width: 1000px) {
  .logo {
    width: 15vw;
  }
}
@media (min-width: 1500px) {
  .logo {
    width: 10vw;
  }
}
@media (min-width: 768px) {
  text {
      font-size: 3rem; /* Tamanho maior em telas maiores */
  }
}