

.headerText {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  color: rgb(27, 27, 27);
  transition: color 0.3s ease; /* Transição suave para a cor do texto */
}

.headerText:hover {
  transform:scale(1.05);
  color: rgb(255, 255, 255);
  border-radius: 2px;
  background-color: rgb(255, 0, 0);
  
  transition: transform 0.1s ease;
}

.searchBar {
  transition: all 0.3s ease; /* Transição suave para alterações na barra de pesquisa */
} 


.hiader {
  width: 90%;
  margin: auto;
  transition: width 0.3s ease, margin 0.3s ease; /* Suaviza a transição da largura e da margem */
}
.mini {
  display: none;
}

.header-container {
  box-shadow: 0 0.001px 10px rgba(0, 0, 0, 0.89);
  background-color: white;
  overflow: hidden;
}


.subheader .headerText {
  color: #000; /* Ajuste a cor do texto conforme necessário */
}

.subheaderText{
  padding: 0%;
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  color: rgb(27, 27, 27);
  transition: color 0.3s ease; /* Transição suave para a cor do texto */
}
.subheaderBox{
  
  padding: 0%;
}
.subheaderBox>a{
  color: rgb(0, 0, 0);
}
.subheaderBox:hover{
  border: solid 1px rgba(167, 167, 167, 0.171);
  background-color: rgba(255, 0, 0, 0.226);
}


/* /////////////////////////////////// */
/* /////////////////////////////////// */
/* /////////////////////////////////// */

@media (min-width: 992px) {
  .textinho{
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 991.98px) {
  .mr-auto{
    display: none;
  }
  .textinho{
    display: none;
  }
}
@media (max-width: 610px) and (min-width: 490px) {
  .containerr{
    flex-direction: column;
  }
  .texto{
    display: none;
  }
  .mr-auto{
    display: none;
  }
  .menu{
    display: flex;
  }
}
@media (max-width: 490px) and (min-width: 320px) {
  .mr-auto{
    display: none;
  }
  .hiader{width: 100%;}
  .containerr{
    flex-direction: column;
  }
  .navbar-brand{margin: 0px; padding: 0 0 0 5px; width: 19vw;}
}

/* /////////////////////////////////// */
/* /////////////////////////////////// */
/* /////////////////////////////////// */
