.searchBar {
    
    transition: all 0.3s ease; /* Transição suave para alterações na barra de pesquisa */
  }
  
  .searchBar:focus {
    border-color: rgb(255, 165, 165);
    box-shadow: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transição suave para a borda e sombra */
  }
  
  .formi {
    margin-top: -2px;
    height: 40px;
    padding: 0 25px;
    transition: padding-right 0.3s ease; /* Suaviza a transição do padding */
  }
  
@media (max-width: 490px) and (max-width: 320px) {
  .searchBar{
    height: 30px;
    min-width: none;
  }

  .formi {
    min-width: none;
    padding: 0 10px;
  }
}
@media (max-width: 320px) {
  .searchBar{
    margin-left: 5px;
  margin-top: 6px;
   width: 185px;
   min-width: none;
  }
}

.recentes{
  height: auto;
  display: block;
  position: absolute;
  margin: 0 10px;
  background-color: rgb(255, 255, 255);
  z-index: 9999999;
}
.recentes>div{
  background-color:rgb(250, 250, 250);
  margin: 5px;
  padding: 5px 5px 5px 15px;
}
.recentes>div:hover{
  background-color: rgb(225, 228, 230);
  transform: scale(0.997);
  transition: all 0.3s ease;
}